<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>RICHY | Creative Responsive Theme</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- fav and touch icons 
    ======================================================================================-->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
  
	<!-- Start CSS Style 
    =======================================================================================-->
    <link rel="stylesheet" href="css/style.css" /><!-- Main Style -->
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/fontawesome/font-awesome-ie7.css" />
    <![endif]-->
	<!-- Color Skins -->
    <link rel="stylesheet" href="css/skins/blue.css" name="skins"> 
    <!-- Layout Style -->
    <link rel="stylesheet" href="css/layout/wide.css" name="layout"> 
    <!-- Style Switcher Box -->
    <link rel="stylesheet" href="css/layout/switcher.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link href="css/ie.css" rel="stylesheet" />
    <![endif]-->

    <script src="js/jquery.js"></script><!-- Main JQuery -->
    <script>
    jQuery(document).ready(function($) {
	$("#ajax-contact-form").submit(function() {
		var str = $(this).serialize();

		$.ajax({
			type: "POST",
			url: "contact/includes/contact-process.php",
			data: str,
			success: function(msg) {
    			// Message Sent? Show the 'Thank You' message and hide the form
    			if(msg == 'OK') {
    				result = '<div class="notification_ok alert alert-success">Your message has been sent. Thank you!</div>';
    				$("#fields").hide();
    			} else {
    				result = msg;
    			}
    			$('#note').html(result);
			}
		});
		return false;
	});
});
    </script>
</head>

<body onload="prettyPrint()">
	
    <div id="wrap" class="boxed">
    
    <div class="container">
    
    <!-- Header
    =========================================================================================================== -->
    <header>
        
        <!-- Logo + menu -->
        <div class="logoWrapper">
            	<div class="row">
                	<!-- logo - font -->
                    <div class="span6 logo">
                    	<span class="logoFirst">R</span><a href="index.html">ICHY</a>
                        <span class="small">build under bootstrap system</span>
                    </div>
                    
                    <!-- SOCIALS -->
                    <div class="span6">
                    	<ul class="tooltip-title top-social">
                        	<li><a href="#" rel="tooltip" title="Facebook" class="social1-top"></a></li>
                            <li><a href="#" rel="tooltip" title="Twitter" class="social2-top"></a></li>
                            <li><a href="#" rel="tooltip" title="Google+" class="social3-top"></a></li>
                            <li><a href="#" rel="tooltip" title="Rss Feed" class="social4-top"></a></li>
                        </ul>
                    </div>
                    <!--/SOCIALS-->
            	</div><!--/row--> 
            
            <!-- STRAT MENU
            ============================================================ -->
            <nav class="menu container">
                	<div class="row">
                    	
                        <div class="span9">
                            <ul id="jMenu">
                              <li><a href="#" class="fNiv">Home<br/>
                                <span class="smallText">All starts here</span></a>
                                <ul>
                                  <li><a href="index.html">Home 1</a></li>
                                  <li><a href="index_2.html">Home 2</a></li>
                                  <li><a href="index_3.html">Home 3</a></li>
                                  <li><a href="index_4.html">Home 4</a></li>
                                  <li><a href="slider1.html">Camera Slider</a></li>
                                  <li><a href="slider2.html">Parallax Slider</a></li>
                                  <li><a href="slider3.html">Elastic Slider</a></li>
                              </ul>
                            </li>
                              <li><a href="#" class="fNiv">Pages<br/>
                                <span class="smallText">See our pages</span></a>
                                <ul>
                                  <li><a href="about_us.html">About Us</a></li>
                                  <li><a href="services.html">Services</a></li>
                                  <li><a href="our_team.html">Our Team</a></li>
                                  <li><a href="sitemap.html">Sitemap</a></li>
                                  <li><a href="under_construction.html">Under Construction</a></li>
                                  <li><a href="404.html">404</a></li>
                                  <li><a href="faq.html">FAQ</a></li>
                                  <li><a href="right_sidebar.html">Right Sidebar</a></li>
                                  <li><a href="left_sidebar.html">Left Sidebar</a></li>
                              </ul>
                            </li>
                              <li><a class="fNiv">Features<br/>
                                <span class="smallText">All the different stuff</span></a>
                                <ul>
                                  <li><a href="shortcodes.html">Shortcodes</a></li>
                                  <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                  <li><a href="icons.html">Icons</a></li>
                                  <li><a href="full_width.html">100% Width</a></li>
                                  <li><a href="grids.html">Grid System</a></li>
                                  <li class="arrow"><a href="#">Menu Levels</a>
                                    <ul>
                                      <li class="arrow"><a href="#">Third Level</a>
                                        <ul>
                                          <li><a href="#">Fourth Level</a></li>
                                          <li><a href="#">Fourth Level 2</a></li>
                                      </ul>
                                    </li>
                                      <li class="arrow"><a href="#">Third Level 2</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                              <li><a href="#" class="fNiv">Portfolio<br/>
                                <span class="smallText">Work we are proud of</span></a>
                                <ul>
                                  <li class="arrow"><a href="#">Portfolio</a>
                                    <ul>
                                      <li><a href="2columns_1.html">2 Columns</a></li>
                                      <li><a href="3columns_1.html">3 Columns</a></li>
                                      <li><a href="4columns_1.html">4 Columns</a></li>
                                  </ul>
                                </li>
                                  <li><a href="single_project.html">Single Project</a></li>
                              </ul>
                            </li>
                              <li><a href="#" class="fNiv">Blog<br/>
                                <span class="smallText">What we think</span></a>
                                <ul>
                                  <li><a href="blog1.html">Blog 1</a></li>
                                  <li><a href="blog2.html">Blog 2</a></li>
                                  <li><a href="blog3.html">Blog 3</a></li>
                                  <li><a href="blog4.html">Blog 4</a></li>
                                  <li><a href="blog_details.html">Single Post</a></li>
                              </ul>
                            </li>
                              <li><a href="contacts.html" class="fNiv active last">Contacts<br/>
                                <span class="smallText">Send message to us</span></a></li>
                          </ul>
                      </div>
                      
                      <!-- search -->
                      <div class="span3 searchTop">
                        <form class="form-search pull-right marR10">
                          <input type="text" class="input-medium search-query inputSearchStyle" value="Looking for somthing ?" onblur="if(this.value == '') { this.value = 'Looking for somthing ?'; }" onfocus="if(this.value == 'Looking for somthing ?') { this.value = ''; }" />
                          <button type="submit" class="search-btn"><i class="icon-search"></i></button>
                        </form>
                      </div>
                      <!-- /search -->
                  
                   </div><!--/row-->
            </nav>
            <!--/MENU-->
            
        </div><!--/logoWrapper-->
       
    </header>

    
    <!-- Content
    ============================================================================================================== -->
               
   		<div class="page-header"><h1>Contact Us</h1></div>
    	
        	
        <div class="row">
           	<!-- Left part -->
            <div class="span6">
               	<h2>Send your message</h2>
                <p>
                  Nullam volutpat lacinia nisi, nec laoreet dolor lobortis ut. Suspendisse quis nunc a arcu laoreet iaculis. Morbi vehicula metus ut massa tristique non aliquet nibh tempu, maecenas feugiat lectus. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante.
                </p>
                <div id="note"></div>
                <div id="fields" class="contact-form">             	
                    <form id="ajax-contact-form" action="">
                        <div class="controls controls-row">
                          <input class="span3" type="text" name="name" placeholder="Name (required)">
                          <input class="span3" type="text" name="email" placeholder="Email (required)">
                        </div> 
                        <div class="controls controls-row">  
                          <input class="span6" type="text" name="subject" placeholder="Subject (optional)">
                        </div>  
                        <div class="controls controls-row">  
                          <textarea class="span6" name="message" placeholder="Type Your Message Here" rows="10"></textarea>
                        </div>
                        <input type="submit" class="btn btn-large color-bg" name="submit" value="Send Message">
                    </form>
                        
                      
                </div><!--/contact-form-->
            </div>
            <!--/Left part -->
                
                
                
            <!-- Right part -->
            <div class="span6">
               	<section>
                   	<address>
                      <strong>Head Office</strong><br/>
                      <i class="icon-home marR10" pop="Address"></i> 795 Folsom Ave, Suite 600, 
                          San Francisco, CA 94107<br/>
                      <i class="icon-phone marR10" pop="Phone"></i> (123) 456-7890 <br/>
                      <i class="icon-print marR10" pop="Fax"></i> (125) 488-7790 <br/>
                      <i class="icon-time marR10" pop="Time"></i> Mon. - Fri. 10:00 - 21:00 <br/>
                      <i class="icon-envelope-alt marR10" pop="E-mail"></i> <a href="mailto:#">first.last@gmail.com</a>
                    </address>
                </section>
                    
                <p>
                  Nullam volutpat lacinia nisi, nec laoreet dolor lobortis ut. Suspendisse quis nunc a arcu laoreet iaculis. Morbi vehicula metus ut massa tristique non aliquet nibh tempu, maecenas feugiat lectus. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante.
                </p>
                    
                <div class="map-container">
                    <div class="dummy"></div>
                    <div class="element">	
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Tanta,+Egypt&amp;daddr=&amp;hl=en&amp;geocode=Fc3D1QEdOAfZASk18PyqXcn3FDFCroxeDIIhdA&amp;sll=30.786509,31.000376&amp;sspn=0.001307,0.002642&amp;doflg=ptk&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=30.786509,31.000376&amp;spn=0.001307,0.002642&amp;output=embed"></iframe>
                    </div>
                </div>
                    
            </div>
            <!--/Right part -->
        </div><!--/row-->
        	
        
    </div><!--/container-->
        
        
        
<!-- Footer
    ============================================================================================================= -->
    <div class="container darkBg">
        <footer>
                <div id="mainFooter">
                        <div class="row">
                            <!-- About Us -->
                            <div class="span2">
                                <h4>About Us</h4>
                                <p>
                                    Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu,
                                     vehicula mauris lipsum adipiscing lipsum aenean orci lorem Asequat. 
                                </p>
                            </div>
                            <!-- Contacts -->
                            <div class="span2">
                                <h4>Contact Us</h4>
                                <address>
                                  <strong>Twitter, Inc.</strong><br/>
                                  <i class="icon-tint"></i> 795 Folsom Ave, Suite 600<br/>
                                  San Francisco, CA 94107<br/>
                                  <i class="icon-phone"></i> (123) 456-7890
                                </address>
                                 
                                <address>
                                  <strong>Full Name</strong><br/>
                                  <a href="mailto:#">first.last@gmail.com</a>
                                </address>
                            </div>
                            <!-- Twitter -->
                            <div class="span4">
                                <h4>Twitter</h4>
                                <div class="tweet"></div><!-- Twitter Code -->
                            </div>
                            <!-- Flickr -->
                            <div class="span4">
                                <h4>Flickr</h4>
                                <ul class="basicuse thumbs"></ul><!-- Flickr Code -->
                                
                                <div class="clearfix"></div>
                                <div class="subscribee">
                                    Subscribe to our e-mail newsletter to receive updates.<br/><br/>
                                    <form class="subscribe">
                                        <input class="inputSubscribe" type="text" placeholder="Enter Your Email" />
                                        <button class="btn btn-warning btnSubscribe">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        
                        <!-- Copy rights + subscribtion area -->
                        <div class="row bord-top">
                            <div class="span6 copyrights">
                          Copyright 2012  RICHY. All Rights Reserved. Theme by <a href="https://wrapbootstrap.com/user/ASteam">ASteam</a>
                            </div>
                            
                            <div class="span6">
                                <ul class="footer-social tooltip-title">
                                <li><a href="#" rel="tooltip" title="facebook"><i class="icon-facebook-sign"></i></a></li>
                                <li><a href="#" rel="tooltip" title="twitter"><i class="icon-twitter-sign"></i></a></li>
                                <li><a href="#" rel="tooltip" title="google plus"><i class="icon-google-plus-sign"></i></a></li>
                                <li><a href="#" rel="tooltip" title="piterest"><i class="icon-pinterest-sign"></i></a></li>
                                <li><a href="#" rel="tooltip" title="linked in"><i class="icon-linkedin-sign"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        
                </div><!--/mainFooter-->
            </footer>
        </div><!--/container-->
    	
        </div><!--/wrap-->
    	
        <!-- Start Style Switcher -->
        <div class="switcher"></div>
        <!-- End Style Switcher -->
    
	<!-- javascript
    ============================================================================================================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script><!-- Bootstrap Js main file -->
    <script src="js/jquery.easing.1.3.js"></script><!-- easing.1.3 -->
    <script src="js/jquery.cookie.js"></script><!-- cookie -->
    <script src="js/jquery-ui-1.8.20.custom.min.js"></script><!-- jquery-ui -->
    <script src="js/responsive-menu.js"></script><!-- Responsive menu -->
    <script src="js/jMenu.jquery.js"></script><!-- Nav menu -->    
    <script defer src="js/jquery.flexslider.js"></script><!-- Flex Basic carousel -->
    <script src="js/jquery.prettyPhoto.js"></script><!-- PrettyPhoto -->    
    <script src="js/jquery.liquid-slider-0.1.js"></script><!-- Testimonials - text slider -->
    <script src="js/jquery.tweet.js"></script><!-- Twitter plugin -->
    <script src="js/jflickrfeed.min.js"></script><!-- jQuery Flickr -->
    <script src="js/jquery.ui.totop.js" ></script><!-- Go to top -->
    <script src="js/filterable.pack.js"></script><!-- Filter portfolio -->
    <script src="js/audio.min.js"></script><!-- audio player -->
    <script src="js/prettify.js"></script><!-- YOU CAN REMOVE IT // it's associated with shortcodes preview boxes -->
    <script defer src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script><!--REVOLUTION SLIDER-->
    <script defer src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script><!--REVOLUTION SLIDER-->
    <script src="js/custom.js"></script><!-- All scripts that shuold be on html file collected here -->
    <script src="js/styleswitch.js"></script> <!-- Style Colors Switcher -->
 
    
</body>
</html>
