{% extends "base/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}

<!-- Catch text -->
    <div class="row">
        <div class="span12">
        	<div class="catchText">
                <div class="row">
                	<div class="span9">
                    <p>
                  Incredible fun Party Game! Compete with your friends to find out the secret "word" without saying it and help your team to win!
                    </p>
                    </div>
                    <div class="span3"><button class="btn-large btn color-bg">PLAY NOW</button></div>
                </div>
            </div>
        </div>
    </div><!-- /Catch text -->


    <!-- Services Blocks -->
    <section class="outerDiv">
        <div class="row">

            <!-- Part
                ================-->
            <div class="span3 centered tooltip-title">
            </div><!--/-->

            <!-- Part
                ================-->
            <div class="span3 centered tooltip-title">
                <div class="block">
                    <div class="icon-block"><i class="icon-qrcode"></i></div>
                    <h3 class="color-text">LOGIN</h3>
                    <p>
                        Login with your Twitter, Google or Tabu Account to start creating Cards for different languages, and help us improve
                        this game for everyone in the world!<br><br>
                        <a href="#" rel="tooltip" data-placement="top" title="Go to the Login/Signup page">[LOGIN / SIGN UP]</a>
                    </p>
                </div>
            </div><!--/-->

            <!-- Part
                ================-->
            <div class="span3 centered tooltip-title">
            <div class="block">
                <div class="icon-block"><i class="icon-beaker"></i></div>
                <h3 class="color-text">CREATE CARDS</h3>
                <p>
                    Do you want to add new cards and let other people to have fun guessing your words?<br>
                    Do you want to extend Tabu for another language?<br>
                    So start creating new cards!!<br>
                    <a href="#" rel="tooltip" data-placement="top" title="Go to the Create Card page">[Create Card]</a>
                </p>
            </div>
            </div><!--/-->

            <!-- Part
                ================-->
            <div class="span3 centered tooltip-title">
            </div><!--/-->

        </div>
        <!--/Block1-->

    </section><!--/Services Blocks-->

    </section><!--/Lates Projects-->
    </div><!--/row-->

    </div> <!--/container-->

{% endblock %}