[Desktop Entry]
Name=TabuGame
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/TabuGame/TabuGame.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
