{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Tabu Game!</title>
    <meta name="description" content="Tabu Party Game">
    <meta name="author" content="Emilio Ramirez, Diego Sarmentero">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Start CSS Style
    =======================================================================================-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /><!-- Main Style -->
    <!-- Color Skins -->
    <link rel="stylesheet" href="{% static 'css/skins/blue.css' %}" name="skins">
    <!-- Layout Style -->
    <link rel="stylesheet" href="{% static 'css/layout/wide.css' %}" name="layout">
    <!-- Style Switcher Box -->
    <link rel="stylesheet" href="{% static 'css/layout/switcher.css' %}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
</head>

<body onload="prettyPrint()">

    <div id="wrap" class="boxed">

    <div class="container">

    <!-- Header
    =========================================================================================================== -->
    <header>

        <!-- Logo + menu -->
        <div class="logoWrapper">
                <div class="row">
                	<!-- logo - font -->
                    <div class="span6 logo">
                        <span class="logoFirst">T</span><a href="{% url 'home' %}">abu Game!</a>
                        <span class="small">Have fun guessing words!</span>
                    </div>

                    <!-- SOCIALS -->
                    <div class="span6">
                        <ul class="tooltip-title top-social">
                            <li><a href="https://twitter.com/emilioramirez" rel="tooltip" title="emilioramirez" class="social2-top"></a></li>
                            <li><a href="https://twitter.com/diegosarmentero" rel="tooltip" title="diegosarmentero" class="social2-top"></a></li>
                        </ul>
                    </div>
                    <!--/SOCIALS-->
                </div><!--/row-->

            <!-- STRAT MENU
            ============================================================ -->
            <nav class="container menu">
                	<div class="row">
                        <div class="span9">
                            <ul id="jMenu">
                              <li><a href="#" class="fNiv active">Home<br/>
                                <span class="smallText">All starts here</span></a>
                                <ul>
                                  <li><a href="{% url 'home' %}">Home</a></li>
                                  {% if user.username %}
                                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                  {% else %}
                                    <li><a href="{% url 'account_login' %}">Login</a></li>
                                  {% endif %}
                                  <li><a href="{% url 'cards' %}">Create Card</a></li>
                              </ul>
                            </li>
                              <!--li><a href="{% url 'contact' %}" class="fNiv last">Contact<br/>
                                <span class="smallText">Send a message to us</span></a></li>
                            </li-->
                            {% if user.username %}
                            <li><a href="{% url 'account_logout' %}" class="fNiv">Logout<br/>
                                <span class="smallText">(Close session)</span></a>
                            </li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}" class="fNiv">Login<br/>
                                <span class="smallText">(Access)</span></a>
                            </li>
                            {% endif %}
                          </ul>
                      </div>

                   </div><!--/row-->
            </nav>
            <!--/MENU-->

        </div><!--/logoWrapper-->

    </header>

    {% block content %}{% endblock %}

<!-- Footer
    ============================================================================================================= -->
    <div class="container darkBg">
        <footer>
                <div id="mainFooter">
                        <div class="row">
                            <!-- About Us -->
                            <div class="span2">
                                <h4>About Us</h4>
                                <p>
                                    Website created by: Emilio Ramirez and Diego Sarmentero
                                </p>
                            </div>
                            <div class="span4">
                            </div>
                            <div class="span4">
                            </div>
                            <!-- Source Code -->
                            <div class="span2">
                                <h4>Source Code</h4>
                                <address>
                                  <strong>Github Repo</strong><br/>
                                  <a href="https://github.com/diegosarmentero/tabu">https://github.com/diegosarmentero/tabu</a>
                                </address>
                            </div>
                        </div>

                        <!-- Copy rights + subscribtion area -->
                        <div class="row bord-top">
                            <div class="span6 copyrights">
                          Copyright 2013  Tabu</a>
                            </div>

                            <div class="span6">
                                <ul class="footer-social tooltip-title">
                                <li><a href="https://twitter.com/emilioramirez" rel="tooltip" title="emilioramirez"><i class="icon-twitter-sign"></i></a></li>
                                <li><a href="https://twitter.com/diegosarmentero" rel="tooltip" title="diegosarmentero"><i class="icon-twitter-sign"></i></a></li>
                                </ul>
                            </div>
                        </div>

                </div><!--/mainFooter-->
            </footer>
        </div><!--/container-->
        </div><!--/wrap-->

    <!-- javascript
    ============================================================================================================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block scripts %}
    <script src="{% static 'js/jquery.js' %}"></script><!-- Main JQuery -->
    <script src="{% static 'js/bootstrap.js' %}"></script><!-- Bootstrap Js main file -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script><!-- easing.1.3 -->
    <script src="{% static 'js/jquery.cookie.js' %}"></script><!-- cookie -->
    <script src="{% static 'js/jquery-ui-1.8.20.custom.min.js' %}"></script><!-- jquery-ui -->
    <script src="{% static 'js/jMenu.jquery.js' %}"></script><!-- Nav menu -->
    <script defer src="{% static 'js/jquery.flexslider.js' %}"></script><!-- Flex Basic carousel -->
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script><!-- PrettyPhoto -->
    <script src="{% static 'js/jquery.liquid-slider-0.1.js' %}"></script><!-- Testimonials - text slider -->
    <script src="{% static 'js/jquery.tweet.js' %}"></script><!-- Twitter plugin -->
    <script src="{% static 'js/jflickrfeed.min.js' %}"></script><!-- jQuery Flickr -->
    <script src="{% static 'js/jquery.ui.totop.js' %}" ></script><!-- Go to top -->
    <script src="{% static 'js/filterable.pack.js' %}"></script><!-- Filter portfolio -->
    <script src="{% static 'js/audio.min.js' %}"></script><!-- audio player -->
    <script src="{% static 'js/prettify.js' %}"></script><!-- YOU CAN REMOVE IT // it's associated with shortcodes preview boxes -->
    <script defer src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script><!--REVOLUTION SLIDER-->
    <script defer src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script><!--REVOLUTION SLIDER-->
    <script src="{% static 'js/custom.js' %}"></script><!-- All scripts that shuold be on html file collected here -->
    {% endblock scripts %}

</body>
</html>
