{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/jquerymobile/jquery.mobile-1.3.1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquerymobile/jquery.mobile.structure-1.3.1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquerymobile/jquery.mobile.theme-1.3.1.css' %}" />
    
    <script src="{% static 'js/jquerymobile/jquery-v1.9.1.js' %}"></script>
    <script src="{% static 'js/jquerymobile/jquery.mobile-1.3.1.js' %}"></script>

</head> 
<body> 
    <!-- PAGE Setup -->
    <div id="setup" data-role="page">
        <div data-role="header">
            <h1>Configurar juego</h1>
        </div>
        <div data-role="content">
            <p>Elija los nombres de los equipos</p>
            <form action="/game">
                <div data-role="fieldcontain">
                    <label for="teamA">Nombre del Equipo A:</label>
                    <input placeholder="Chimi" type="text" data-clear-btn="true" name="teamA" id="teamA" value="">   
                </div>
                <div data-role="fieldcontain">
                    <label for="teamB">Nombre del Equipo B:</label>
                    <input placeholder="Churri" type="text" data-clear-btn="true" name="teamB" id="teamB" value="">                    
                </div>
                <div data-role="fieldcontain">
                    <label for="time">Tiempo de la ronda (seg):</label>
                    <input type="text" data-clear-btn="true" name="time" id="time" value="60">
                </div>
                <div data-role="fieldcontain">
                    <label for="rounds">Cantidad de rondas:</label>
                    <input type="text" data-clear-btn="true" name="rounds" id="rounds" value="10">
                </div>
                <input type="submit" data-icon="arrow-r" data-iconpos="right" value="Comenzar" data-theme="e">
            </form>
        </div>
    </div>
    <!-- /PAGE Setup -->
</body>
</html>
