Package: tabu
Version: 0.1
Architecture: all
Maintainer: gatox <gatox@unknown>
Installed-Size: 365
Depends: qtdeclarative5-qtquick2-plugin, qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu, qmlscene
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
